@import "./base/reset";
@import "./components/galeria";
@import "./base/media-queries";

//bg-body-tertiary(color de fondo de Bootstrap)
$gray-100: #155e2d;

//color de los enlaces:
$navbar-light-color: #ffffff;
$navbar-light-icon-color: #ffffff;

//color de los enlaces al hacer hover
$navbar-light-hover-color: #000000;

/* ancho del borde del menu hamburguesa al hacerle click (focus) */
$focus-ring-width: 0.04rem;

/* color del ancho de borde del menu hamburguesa desactivado */
$navbar-light-toggler-border-color: #ffff;
$navbar-light-toggler-border-color: none;

/* color de la marca (brand) */
$navbar-light-brand-color: #ffff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
