/*=============================================
=               Responsive Tablet             =
=============================================*/

@media (max-width: 992px) {
  .gallery {
    max-width: max-content;
    margin: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 1rem;

    .gallery__item--1 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .gallery__item--9 {
      grid-column: span 2;
    }
  }
}

/*=============================================
=              Responsive Mobil               =
=============================================*/

@media (max-width: 576px) {
  .gallery {
    margin: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    justify-content: center;
    gap: 1rem;

    .gallery__item--1 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .gallery__item--2 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .gallery__item--5 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .gallery__item--9 {
      grid-column: span 2;
    }
  }
}
